.HorizontalRule {
  border: none;
  width: auto;
  height: 1px;
  background-color: #e1e1e1;
}

.Container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Container > .HorizontalRule {
  flex-grow: 1;
}

.Text {
  color: #636363;
}
